@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-full px-3 sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1170px];
  }

  .leading-auto {
    @apply leading-[normal];
  }
  .btn {
    @apply rounded-sm bg-secondary px-8 py-4 text-white disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-black;
  }

  .form-control {
    @apply mb-3 h-[36px] w-full rounded-[2px] border border-gray-light pl-[13px] focus:shadow-[0px_6px_25px_0px_rgba(0,0,0,0.4)] focus:outline-none sm:h-[43px] md:h-[52px];
  }
  .dropdown {
    @apply bg-primary-light cursor-pointer border-none;
  }
  .shadow {
    @apply shadow-[0px_6px_25px_0px_rgba(0,0,0,0.4)];
  }
}


@layer components {
  .loader__btn {
    border: none;
    background-color: white;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    border-radius: 12px;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
      0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    cursor: wait;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: transparent;
    border-radius: 50%;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: transparent;
    width: 23px;
    height: 23px;
    animation: spin89345 1s linear infinite;
  }
  
  @keyframes spin89345 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
}
* {
  /* background-color: rgba(50, 48, 48, 0.206); */
}
